.user-form {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  max-width: 680px;
  margin: 30px auto;
  padding: 50px 65px;
  padding-bottom: 65px;
  border-radius: 10px;

  .title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  .form-label {
    font-weight: bold;
  }

  .description {
    text-transform: capitalize;
    font-size: 15px;
    padding-left: 5px;
  }
}
